[submodule "lib/color"]
	path = lib/color
	url = https://github.com/dmilos/color.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/ssd1306"]
	path = lib/ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306.git
